{% extends "./layout.njk" %}

{% block content %}
  <div class="page-content page-content--page">
    <div class="container">
      <div class="o-richtext">
        <h1>{{ pageTitle }}</h1>
        {{ content | safe }}
      </div>

      <ul class="c-blogroll__list">
        {% for item in blogroll|sort(attribute='name') %}
          <li class="c-blogroll__item">
            <h2 class="c-blogroll__heading heading-4">{{ item.name }}</h2>
            <a class="c-blogroll__link" href="{{ item.url | url }}">{{ item.url | url }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
