<!DOCTYPE html>
<html lang="en-GB">
  {% set pathToLinkedFiles = '..' %}
  {% include "./partials/siteHead.njk" %}

  <body>
    <div class="hidden">
      {% include './partials/sprite.svg' %}
    </div>

    {% if page.url == '/' %}
      {% set showHomeLink = false %}
    {% else %}
      {% set showHomeLink = true %}
    {% endif %}

    {% include "./partials/header.njk" %}

    {% if page.url == '/' %}
      <div class="c-hero">
        <div class="container">
          <h1 class="c-hero__heading">{{ metadata.title }}</h1>
          <div class="c-hero__desc">
            <p>{{ metadata.description }}</p>
          </div>
        </div>
      </div>

      {% include "./partials/featured-post.njk" %}
    {% endif %}


    {{ content | safe }}

    <div class="c-paginated-posts">
      <div class="container">
        {% include "./partials/pagination.njk" %}
      </div>
    </div>

    {% include "./partials/footer.njk" %}
  </body>
</html>
