{% extends "./layout.njk" %}

{% block content %}
<div class="home-layout">
  {# <svg class="home-layout__bg-logo" xmlns="http://www.w3.org/2000/svg" width="35" height="35" aria-hidden="true" focusable="false">
    <use href="#logo-icon"/>
  </svg> #}

  {% if page.url == '/' %}
    <div class="c-hero" data-trigger="header-change">
      <div class="container">
        <svg class="c-hero__svg" xmlns="http://www.w3.org/2000/svg" width="1127" height="160">
          <use href="#logo-horizontal"/>
        </svg>
        <h1 class="c-hero__heading visually-hidden">{{ metadata.title }}</h1>
        <div class="c-hero__desc">
          <p>{{ metadata.description }}</p>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container">
    {{ content | safe }}

    <div class="home-layout__posts">
      <div class="home-layout__tags">
        <div class="home-layout__tags-wrapper">
        <h4 class="home-layout__tags-title">Search by topic...</h4>
        {% set tags = collections.homepageTags %}
        {% set home = true %}
        {% include "./partials/tag-links.njk" %}
        </div>
      </div>

      <ul class="c-posts-grid">
        {% for post in pagination.items %}
          {% include "./partials/post-listing.njk" %}
        {% endfor %}
      </ul>
    </div>

    {% include "./partials/post-grid-pagination.njk" %}

    <div class="container">
      {% include "./partials/ad-horizontal.njk" %}
    </div>
  </div>
</div>
{% endblock %}
