{% extends "./layout.njk" %}

{% block content %}
  {% if page.url == '/' %}
    <div class="c-hero">
      <div class="container">
        <svg class="c-hero__svg" xmlns="http://www.w3.org/2000/svg" width="300" height="40">
          <use href="#logo"/>
        </svg>
        <h1 class="c-hero__heading">{{ metadata.title }}</h1>
        <div class="c-hero__desc">
          <p>{{ metadata.description }}</p>
        </div>
      </div>
    </div>

    <div class="container grid">
      <div class="grid__tags">
        <h4 class="c-tags-block__title">Search by topic...</h4>
        {% set tags = collections.homepageTags %}
        {% set home = true %}
        {% include "./partials/tag-links.njk" %}
      </div>
      <div class="grid__featured-post">
        {% include "./partials/featured-post.njk" %}
      </div>
    </div>
  {% endif %}

  <div class="page-content">
    {{ content | safe }}

    <div class="c-paginated-posts">
      <div class="container">
        {% include "./partials/posts-grid.njk" %}
      </div>
    </div>
  </div>
{% endblock %}
