{% if page.url == '/' %}
  {% set showHomeLink = false %}
  {% set bodyClass = 'home' %}
{% else %}
  {% set showHomeLink = true %}
{% endif %}

<!DOCTYPE html>
<html lang="en-GB">
  {% include './partials/siteHead.njk' %}

  <body class="no-js {{ bodyClass }}">
    <div class="hidden">
      {% include './partials/sprite.svg' %}
    </div>

    {% include './partials/header.njk' %}

    {% block content %}{% endblock %}

    {% include './partials/footer.njk' %}
  </body>
</html>
