{% if page.url == '/' %}
  {% set showHomeLink = false %}
  {% set bodyClass = 'home' %}
{% else %}
  {% set showHomeLink = true %}
{% endif %}

<!DOCTYPE html>
<html lang="en-GB">
  {% if series %}
  {% set title = series + ': ' + title %}
{% endif %}

{% if title %}
  {% set title = metadata.title + ' | ' + title %}
{% elseif pageTitle %}
  {% set title = metadata.title + ' | ' + pageTitle %}
{% else %}
  {% set title = metadata.title %}
{% endif %}

{% if version|length == 0 %}
  {% set cssVersion = '' %}
{% else %}
  {% set cssVersion = version.css %}
{% endif %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta http-equiv="Cache-Control" content="no-store, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <meta name="Description" content="{{ metadata.description }}">
  <meta name="keywords" content="css, front end, web development, web design">

  <!--https://darn.es/you-should-add-a-generator-tag-to-your-eleventy-site/-->
  <meta name="generator" content="{{ eleventy.generator }}">

  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/styles{{ cssVersion }}.css">

  {# Favicon #}
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link
  rel="manifest" href="/favicon/site.webmanifest">

  {# RSS #}
  <link rel="alternate" type="application/rss+xml" title="CSS { In Real Life }" href="https://css-irl.info/rss.xml" />

  {# Webmention.io #}
  <link rel="webmention" href="https://webmention.io/css-irl.info/webmention" />
  <link rel="pingback" href="https://webmention.io/css-irl.info/xmlrpc" />

  {# Facebook and Twitter card #}
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:type" content="website"/>
  {% if page.url == '/' %}
    <meta property="og:description" content="{{ metadata.description }}"/>
  {% endif %}
  <meta property="og:image" content="{{ metadata.url }}/{{ metadata.img }}"/>
  <meta property="og:url" content="{{ metadata.url }}{{ page.url }}"/>
  <meta property="og:site_name" content="{{ title }}"/>
  <meta name="twitter:card" content="summary_large_image"/>
</head>

<body class="no-js {{ bodyClass }}">

  {% include './partials/header.njk' %}

  {% block content %}{% endblock %}

  {% include './partials/footer.njk' %}
  
  <!--JS-->
  {% if version|length == 0 %}
    {% set jsVersion = '' %}
  {% else %}
    {% set jsVersion = version.js %}
  {% endif %}
  <script src="/js/scripts{{ jsVersion }}.js"></script>
</body>
</html>
