{% extends "./layout.njk" %}

{% block content %}
  <div class="page-content page-content--page">
    <div class="container o-richtext">
      <h1>
        {% if displayTitle %}
          {{ displayTitle }}
        {% else %}
          {{ pageTitle }} 
        {% endif %}
      </h1>
      {{ content | safe }}
    </div>
  </div>
{% endblock %}
