{% extends "./layout.njk" %}

{% block content %}
  <div class="page-content">
    <div class="container-sm">
      <article class="post-grid">
        <div class="post-grid__header">
          {% include "./partials/post-header.njk" %}
        </div>
        <div class="post-grid__main">
          {% if intro %}
            <p class="intro">{{ intro }}</p>
          {% endif %}
          <div class="o-richtext">
            {{ content | safe }}
          </div>
          {% include "./partials/webmentions.njk" %}
        </div>
        {% if related %}
          <div>
            {% include "./partials/more-like-this.njk" %}
          </div>
        {% endif %}
        <div class="post-grid__prev-next">
          {% include "./partials/prev-next.njk" %}
        </div>
      </article>
    </div>
  </div>
{% endblock %}
