{% extends "./layout.njk" %}

{% block content %}
  <div class="page-content">
    <div class="container">
      {% include "./partials/post-header.njk" %}
    </div>

    <div class="container-sm">
      <div class="o-richtext">
        {{ content | safe }}
      </div>
    </div>

    <div class="container-sm">
      {% include "./partials/prev-next.njk" %}
    </div>

  </div>
{% endblock %}
