{% extends "./layout.njk" %}

{% block content %}
  <div class="page-content">
    <div class="container-sm">
      <article class="post-grid">
        <div class="post-grid__header">
          {% include "./partials/post-header.njk" %}
        </div>
        <div class="post-grid__main">
          <p class="intro">{{ intro }}</p>
          <div class="o-richtext">
            {{ content | safe }}
          </div>
          {% include "./partials/webmentions.njk" %}
        </div>
        <div class="post-grid__sidebar">
          <div class="c-ad c-ad--vertical">
            {% include "./partials/ad.njk" %}
          </div>
        </div>
        <div class="post-grid__prev-next">
          {% include "./partials/prev-next.njk" %}
        </div>
      </article>


    </div>
  </div>
{% endblock %}
