{
  "rules": {
    "quotes": [
      "error",
      "single",
      { "avoidEscape": false, "allowTemplateLiterals": true }
    ]
  },
  "parserOptions": { "sourceType": "module", "ecmaVersion": 2015 },
  "extends": ["prettier"]
}
