<a href="{{ iconLink.url }}" class="o-icon-link">
  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" aria-hidden="true" focusable="false">
    <use href="/sprite.svg#{{ iconLink.name }}"/>
  </svg>
  {{ iconLink.title }}
</a>