.c-alt-header {
  --py: clamp(3rem, 10vw, 20rem);
  background: linear-gradient(
    -45deg,
    var(--color2, deeppink),
    var(--color1, darkorchid)
  );
  background-attachment: fixed;
  padding: var(--py) 0 var(--vr) 0;
  color: var(--headerTextColor, var(--white));

  .c-tag-links__tag a {
    font-family: $heading;
    color: var(--white);
    background-color: var(--headerBg);
  }

  @media (min-width: $lg) {
    margin-bottom: calc(var(--vr) * 2);
  }
}
