.c-author-info {
  padding: var(--vr);
  background-color: var(--bgTint);
  margin-top: calc(var(--vr) * 2);

  p {
    @media (min-width: 50rem) {
      font-size: 1.2rem;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  p + p {
    margin-top: var(--vr);
  }

  @media (min-width: 50rem) {
    display: flex;
  }

  @media (min-width: 50rem) {
    padding: calc(var(--vr) * 2);
  }
}

.c-author-info__image {
  margin: 0 auto var(--vr) auto;
  max-width: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  filter: grayscale(100%);

  @media (min-width: 50rem) {
    margin: 0 var(--vr) var(--vr) auto;
    align-self: flex-start;
    max-width: 9.375rem;
  }
}

.c-author-info__heading {
  margin: 0 0 var(--vr) 0;
}
