.c-banner {
  background-color: var(--primary);
  color: var(--black);
  text-align: center;
  font-family: $heading-light;
  padding: 1rem 0;
  padding: clamp(1rem, 3vw, 3rem) 0;

  a {
    color: var(--black);
    text-decoration: underline;
    font-family: $heading;
  }

  p {
    max-width: rem(600px);
    margin: 0 auto;
  }
}
