.c-featured-post {
  position: relative;
  background-color: var(--bgTint);
  width: 100vw;
  margin-left: -1rem;
  padding: 2rem 1rem 1rem;

  @media (min-width: $md) {
    margin-left: -2rem;
    padding: 2rem;
  }

  @media (min-width: $lg) {
    padding: 3rem;
    border: 0.25rem solid var(--primary);
    box-shadow: 0.5rem 0.5rem 0 var(--primary);
    width: 100%;
    margin-left: 0;
  }
}

.c-featured-post__title {
  margin-bottom: 0;
  max-width: 25ch;
  line-height: 1.3;

  @media (min-width: $md) {
    font-size: 2.8rem;
  }

  a {
    color: var(--textColor);
    text-decoration-color: var(--primary);
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.2em;

    &:hover,
    &:focus {
      color: var(--primary);
    }
  }
}

.c-featured-post__date {
  margin: rem(10px) 0 rem(20px);
  display: block;
  font-size: 0.8rem;
  font-family: $heading;

  @media (min-width: $md) {
    font-size: rem(15px);
    margin: rem(20px) 0 rem(20px);
  }
}

.c-featured-post__series-title {
  margin: 0 0 0.5rem 0;
}

.c-featured-post__excerpt {
  max-width: 75ch;
  margin: 0;
}

.c-featured-post__latest {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-family: $heading;
  font-weight: $bold;
  color: var(--bgTint);
  background-color: var(--primary);
  padding: 0.25rem 0.5rem;

  @media (min-width: $md) {
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
  }
}

.c-featured-post__external-link-icon {
  display: inline;
  width: 1rem;
  margin-left: 0.25rem;

  @media (min-width: $lg) {
    width: 1.5rem;
    height: 1.5rem;
  }
}
