.c-featured-post {
  position: relative;
  width: 100vw;
  margin-left: -1rem;

  @media (min-width: $md) {
    margin-left: -2rem;
  }

  @media (min-width: $lg) {
    border: 0.25rem solid var(--primary);
    border-image: linear-gradient(to right, darkorchid, var(--primary)) 30;
    width: 100%;
    margin-left: 0;

    &::after {
      content: '';
      position: absolute;
      top: 0.75rem;
      left: 0.75rem;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, darkorchid, var(--primary));
    }
  }
}

.c-featured-post__inner {
  position: relative;
  background-color: var(--bgTint);
  z-index: 1;
  padding: 2rem 1rem 1rem;

  @media (min-width: $md) {
    padding: 2rem;
  }

  @media (min-width: $lg) {
    padding: 3rem;
  }
}

.c-featured-post__title {
  margin-bottom: 0;
  line-height: 1.3;

  @media (min-width: $md) {
    font-size: 2.8rem;
  }

  @media (min-width: $lg) {
    margin-top: 1.5rem;
    font-size: 3.2rem;
  }

  a {
    color: var(--textColor);
    text-decoration-color: var(--primary);
    text-underline-offset: auto;

    &:hover,
    &:focus {
      color: var(--primary);
    }

    @media (min-width: $md) {
      text-decoration-thickness: 0.3rem;
    }
  }
}

.c-featured-post__date {
  margin: rem(10px) 0 rem(20px);
  display: block;
  font-size: 0.8rem;
  font-family: $heading;

  @media (min-width: $md) {
    font-size: rem(15px);
    margin: rem(20px) 0 rem(20px);
  }
}

.c-featured-post__series-title {
  margin: 0 0 0.5rem 0;
}

.c-featured-post__excerpt {
  max-width: 75ch;
  margin: 0;
}

.c-featured-post__latest {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-family: $heading;
  font-weight: $bold;
  color: var(--white);
  background: linear-gradient(to right, darkorchid, var(--primary));
  padding: 0.25rem 0.5rem;
  z-index: 2;

  @media (min-width: $md) {
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
  }

  @media (min-width: $lg) {
    top: -0.68rem;
    left: -0.68rem;
    border-radius: 0.25rem;
  }
}

.c-featured-post__external-link-icon {
  display: inline;
  width: 1rem;
  margin-left: 0.25rem;
}

.c-featured-post__external-link {
  display: block;
  margin-top: var(--vr);

  @media (min-width: $md) {
    font-size: 1.2rem;
  }
}
