.c-footer {
  font-family: $heading-light;
  font-size: 0.9rem;
  padding: 1rem;
  background-color: var(--bgGrey);
  display: flex;
  gap: 1rem;

  @media (min-width: $md) {
    padding: 1rem 2rem;

    & > :nth-child(2) {
      margin-left: auto;
    }
  }
}
