.c-header {
  font-family: $heading;
  padding: 1rem 1rem 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  color: var(--white);

  @media (min-width: $md) {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1.5rem;
  }
}

.c-header--bg {
  background-color: var(--headerBg);
}

.c-header__menu-btn {
  position: relative;
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--white);
  transition: color 200ms;
  text-decoration: underline;
  font-family: inherit;
  padding: 1rem;
  font-size: 1rem;
  z-index: 2;
  width: rem(100px);
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;
  }

  @media (min-width: $md) {
    font-size: 1.2rem;
    margin-left: 2rem;
  }
}

.c-header__nav {
  margin-left: auto;
}

.c-header__social-links {
  margin-left: auto;
  display: flex;
}

.c-header__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;

  @media (min-width: $lg) {
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
}

.c-header__link {
  padding: 0.5rem 1rem;
  color: $lightGrey;
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;

  svg {
    margin-left: 0.5rem;
    width: 1.75rem;
    height: 1.75rem;
  }

  &:hover,
  &:focus {
    color: $white;
    text-decoration: underline;
  }

  @media (min-width: $md) {
    font-size: 1rem;
  }

  @media (min-width: $lg) {
    font-size: 1.1rem;
  }
}

.c-header__title {
  font-family: 'Amiri', serif;
  font-size: 1.4rem;
  line-height: 1;
  display: block;
  color: $white;
  text-decoration: none;
  width: rem(320px);
  height: rem(70px);

  &:hover,
  &:focus {
    color: $accent;
  }

  svg {
    height: 100%;
  }

  @media (min-width: $md) {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

.js-menu {
  .c-header__nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 40rem;
    height: 100vh;
    padding: 5rem 1rem 2rem 1rem;
    overflow-y: scroll;
    background-color: darken($bgDark, 5%);
    transform: translate3d(100%, 0, 0);
    transition: transform 250ms;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.25);

    @media (min-width: $md) {
      padding: 5rem 2rem 2rem 2rem;

      .c-header__link {
        font-size: 1.2rem;
      }
    }
  }

  .c-header__list {
    display: block;
    margin-left: 0;
  }
}

.is-visible {
  .c-header__nav {
    transform: translate3d(0, 0, 0);
  }
}
