.c-hero {
  background: repeating-radial-gradient(
      circle at 50%,
      transparent 2rem,
      $alt 2rem,
      $alt 2.2rem,
      transparent 2.2rem,
      transparent 4rem
    ),
    radial-gradient(circle at 0%, $alt, transparent), var(--headerBg);
  background-size: 10rem 10rem, 100% 100%;
  background-repeat: repeat;
  background-position: center;
  color: $white;
  padding: 6rem 0 3rem;
  display: flex;
  align-items: center;
  position: relative;

  @media (min-width: $md) {
    padding: 10rem 0;
  }

  @media (min-width: $lg) {
    min-height: rem(600px);
    padding: 10rem 0 13rem;

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 7rem;
      background-color: var(--bg);
      clip-path: polygon(100% 0, 100% 100%, 0 100%);
    }
  }
}

.c-hero__heading {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.c-hero__desc {
  // font-weight: 700;

  @media (min-width: $md) {
    font-size: 1.3rem;
  }

  @media (min-width: $lg) {
    margin-left: 9rem;
    margin-top: -1.5rem;
  }
}

.c-hero__svg {
  max-width: 45rem;
}

.c-hero__link-wrapper {
  max-width: 20rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  @media (min-width: $md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.c-hero__link {
  color: $accent;
  margin-top: var(--vr);

  &:hover,
  &:focus {
    color: $lightGrey;
  }
}

.c-hero__link--github {
  display: inline-flex;
  align-items: center;
  font-size: 80%;
  color: $lightGrey;

  &:hover,
  &:focus {
    color: $white;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
  }
}
