.c-post-header {
  margin-bottom: calc(var(--vr) * 2);

  > * + * {
    margin: rem(5px) 0 0;

    @media (min-width: $md) {
      margin: rem(10px) 0 0;
    }
  }

  @media (min-width: $md) {
    margin-bottom: var(--vr);
  }

  @media (min-width: $lg) {
    @supports (display: grid) {
      margin-bottom: 0;
    }
  }
}

.c-post-header__date,
.c-post-header__source {
  display: block;
  font-family: $heading-light;
  font-size: 0.9rem;

  @media (min-width: $md) {
    font-size: 1rem;
  }
}

.c-post-header__series {
  display: block;
  font-size: rem(16px);
  margin-bottom: 1rem;
  margin-top: 1rem;

  @media (min-width: $md) {
    font-size: rem(24px);
  }
}

.c-post-header__title {
  margin-bottom: 0;
  max-width: 25ch;

  @media (min-width: $lg) {
    margin-bottom: var(--vr);
  }
}

.c-post-header {
  position: relative;
  margin-bottom: 0;
  padding-bottom: var(--vr);

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2em;
    background: linear-gradient(
      to right,
      var(--primary),
      var(--secondary, darkorchid)
    );
  }
}
