.c-posts-grid {
  list-style: none;
  display: grid;
  max-width: rem(800px);
  gap: calc(var(--vr) * 2);

  @media (min-width: $lg) {
    margin: 0 auto;
  }
}

.c-posts-grid--tags {
  border-top: 1px solid lighten($black, 50%);
  padding-top: 1rem;

  @media (min-width: $md) {
    padding-top: 2rem;
  }
}

.c-posts-grid__post-heading {
  margin: 0;

  a {
    display: block;
    color: var(--textColor);
    text-decoration-color: var(--primary);
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.2em;

    &:hover,
    &:focus {
      text-underline-offset: 0.3em;
      text-decoration-color: inherit;
    }

    svg {
      display: inline;
      width: 1rem;
      margin-left: 0.25rem;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.c-posts-grid__date {
  margin: rem(5px) 0;
  display: block;
  font-size: 0.8rem;
  font-family: $heading-light;

  @media (min-width: $md) {
    font-size: rem(15px);
    margin: rem(10px) 0 rem(20px);
  }
}

.c-posts-grid__excerpt,
.c-posts-grid__read-more {
  @media (min-width: $md) {
    font-size: rem(20px);
    margin-bottom: 0;
  }
}

.c-posts-grid__read-more {
  font-family: $heading;
  font-weight: 700;
  margin-top: var(--vr);

  @media (min-width: $md) {
    font-size: rem(16px);
  }

  &::after {
    content: '➞';
    display: inline-block;
    transition: transform 150ms;
    margin-left: 0.2em;
  }
}

.c-posts-grid__post-heading {
  &:hover,
  &:focus {
    ~ .c-posts-grid__read-more {
      &::after {
        transform: translate3d(0.3em, 0, 0);
      }
    }
  }
}

.c-posts-grid__series-title {
  margin: 0 0 0.5rem 0;
  font-size: rem(16px);
  font-weight: 700;
}

.c-post-listing {
  position: relative;
}

.c-post-listing--note {
  .c-posts-grid__post-heading {
    a {
      text-decoration-color: royalblue;

      &:hover,
      &:focus {
        text-decoration-color: inherit;
      }
    }
  }
}

.c-posts-grid__tag {
  display: inline-block;
  margin-bottom: 0.5rem;
}
