.c-post-header {
  margin-bottom: calc(var(--vr) * 2);

  > * + * {
    margin: rem(5px) 0 0;

    @media (min-width: $md) {
      margin: rem(10px) 0 0;
    }
  }

  @media (min-width: $md) {
    margin-bottom: calc(var(--vr) * 2);
  }

  @media (min-width: $lg) {
    @supports (display: grid) {
      margin-bottom: 0;
    }
  }
}

.c-post-header__date,
.c-post-header__source {
  display: block;
  font-family: $heading;
  font-weight: 400;
  font-size: 0.9rem;

  @media (min-width: $md) {
    font-size: 1rem;
  }
}

.c-post-header__series {
  display: block;
  font-size: rem(16px);
  margin-bottom: 1rem;
  margin-top: 1rem;

  @media (min-width: $md) {
    font-size: rem(24px);
  }
}
