.c-post-grid-pagination__items {
  font-weight: 800;
  list-style: none;
  margin: rem(20px) 0;
  font-family: $heading;
  padding: rem(20px) 0 0;
  border-top: 1px solid lighten($black, 50%);

  @media (min-width: $sm) {
    display: flex;
  }

  @media (min-width: $lg) {
    margin-top: rem(60px);
  }

  a {
    text-decoration: none;
  }
}

.c-post-grid-pagination__item--next {
  margin-left: auto;
}
