.c-post-header {
  padding-top: var(--vr);
  margin-bottom: calc(var(--vr) * 2);

  > * + * {
    margin: 0.313rem 0 0;

    @media (min-width: 50rem) {
      margin: 0.625rem 0 0;
    }
  }

  @media (min-width: 50rem) {
    margin-bottom: var(--vr);
  }

  @media (min-width: 68rem) {
    @supports (display: grid) {
      margin-bottom: 0;
    }
  }
}

.c-post-header__date,
.c-post-header__source {
  display: block;
  font-family: var(--font-heading);
  font-size: 0.9rem;

  @media (min-width: 50rem) {
    font-size: 1rem;
  }
}

.c-post-header__series {
  display: block;
  font-size: 1rem;
  margin-block: 1rem;

  @media (min-width: 50rem) {
    font-size: 1.5rem;
  }
}

.c-post-header__title {
  margin-bottom: 0;
  max-width: 25ch;
  letter-spacing: -0.01em;

  @media (min-width: 68rem) {
    margin-bottom: var(--vr);
  }
}

.c-post-header {
  position: relative;
  margin-bottom: 0;
  padding-bottom: calc(var(--vr) * 2);
  border-bottom: 0.1rem solid var(--textColor);
}

.page-content--about {
  .c-post-header__title {
    @media (min-width: 68rem) {
      margin-bottom: 0;
    }
  }
}
