.c-sotb-banner {
  background: radial-gradient(circle at center, lightgrey 0.1rem, #f7f5f5 0),
    #f7f5f5;
  color: $black;
  font-family: $heading-light;
  padding: 1rem var(--vr);
  margin-top: var(--vr);
  font-size: 1rem;
  border-radius: 0.2rem;
  background-size: 2.5rem 2.5rem;

  time {
    font-family: $heading;
    display: block;
  }

  a {
    font-family: $heading;
    color: inherit;
    text-decoration-color: inherit;
  }

  img {
    max-width: 30rem;
    width: 100%;
  }

  @media (min-width: $lg) {
    font-size: 1.1rem;
  }

  .c-sotb-banner__button {
    background-color: var(--primary);
    color: $white;
    padding: 0.55rem 1.5rem;
    border-radius: 0.5rem;
    display: inline-block;
    text-decoration: none;
    transition: background-color 200ms, color 200ms;
    margin-top: 1rem;
    min-width: 10rem;
    text-align: center;

    &:hover,
    &:focus {
      background-color: darkorchid;
    }
  }
}

.c-sotb-banner--article {
  font-size: 0.9rem;
  border-radius: none;

  time {
    display: inline;
  }

  @media (min-width: $md) {
    img {
      max-width: 22rem;
    }
  }

  @media (min-width: $lg) {
    font-size: 1rem;

    .c-sotb-banner__wrapper {
      padding: 0 var(--vr);
    }
  }
}

.c-sotb-banner__wrapper {
  width: 100%;
  max-width: $wrapper;
  margin: 0 auto;

  > * + * {
    margin-top: 1rem;
  }

  @media (min-width: $md) {
    display: flex;
    align-items: center;
    gap: 3rem;

    > * + * {
      margin-top: 0;
    }
  }
}

.page-content--alt {
  .c-sotb-banner {
    margin-top: 0;

    @media (min-width: $md) {
      margin-top: 4.25rem;
    }
  }
}
