.c-tag-links {
  display: flex;
  flex-wrap: wrap;
}

.c-tag-links__tag {
  font-family: $heading-light;
  font-size: 0.9rem;
  margin-right: 0.75rem;
  margin-bottom: 0.2rem;

  @media (min-width: $md) {
    margin-right: 1rem;
  }

  a {
    display: block;
    background-color: var(--primary);
    color: var(--textColorInverse);
    transition: background-color 200ms, color 200ms, transform 200ms;
    padding: 0 rem(6px);
    text-decoration: none;
    border-radius: 0.1rem;

    &:hover,
    &:focus {
      color: var(--primary);
      background-color: var(--textColor);
    }

    &:focus,
    &:hover {
      transform: scale(1.1);
    }
  }

  @media (min-width: $md) {
    font-size: 1rem;
  }
}

.c-tag-links--home {
  @media (max-width: $md) {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    text-align: center;

    a {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.2;
      padding: 0.5rem;
    }

    .c-tag-links__tag {
      &:last-child a {
        border: 1px solid;
      }

      &:nth-child(n + 7):not(:last-child) {
        display: none;
      }
    }
  }

  .c-tag-links__tag {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

    @media (min-width: $md) {
      margin-right: 0.5rem;
    }

    &:last-child {
      a {
        background: none;
        color: var(--primary);
        text-decoration: underline;

        &:hover,
        &:focus {
          color: var(--textColor);
        }
      }
    }
  }
}
