.o-richtext {
  padding-top: var(--vr);

  > * + * {
    margin-top: var(--vr);
  }

  * + h2,
  * + h3 {
    margin-top: calc(2 * var(--vr));
  }

  h2 + h3 {
    margin-top: var(--vr);
  }

  pre {
    display: block;
    padding: 1rem;
    max-width: 60rem;
    font-size: 1rem;
    margin: var(--vr) 0;

    * {
      margin-top: 0;
    }

    @media (min-width: $md) {
      font-size: 1.2rem;
    }
  }

  code {
    border-radius: 0.25rem;
    background: var(--code);
    color: inherit;
  }

  pre code {
    background: transparent;
    padding: 0;
    border-radius: 0;
    color: $white;
    font-weight: 400;
  }

  figure + * {
    margin-top: calc(var(--vr) * 2);
  }

  * + figure {
    margin-top: calc(var(--vr) * 2);

    img {
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.18);
    }
  }

  figcaption {
    margin: calc(var(--vr) / 2) 0 0 0;
  }

  li + li {
    margin-top: calc(var(--vr) / 2);
  }

  li::marker {
    display: none;
  }

  h2,
  h3 {
    margin-bottom: 0;
    margin-top: 0;
  }

  > * + h2 {
    margin-top: calc(var(--vr) * 2);
  }

  > * + h3 {
    margin-top: calc(var(--vr) * 2);
  }

  h3 + * {
    margin-top: var(--vr);
  }

  iframe {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  blockquote {
    border-left: 4px solid var(--primary);
    background-color: var(--bgTint);
    padding: var(--vr);
  }

  aside {
    padding: var(--vr);
    font-size: 0.9rem;
    background-color: var(--bgTint);
    border-radius: 0.3rem;
    border: var(--borderStyle);

    p:last-child {
      margin: 0;
    }

    h4:first-child {
      margin: 0 0 0.8rem;
    }

    a {
      &:hover,
      &:focus {
        cursor: pointer;
        color: var(--textColor);
      }
    }

    @media (min-width: $md) {
      font-size: rem(18px);
    }
  }

  ul {
    padding-left: rem(20px);

    li {
      position: relative;
      padding-left: 1rem;

      &::before {
        content: '\2022';
        position: absolute;
        left: 0;
      }

      @media (min-width: $md) {
        padding-left: 1.5rem;
      }
    }

    @media (min-width: $md) {
      padding-left: rem(40px);
    }
  }

  @media (min-width: $lg) {
    padding-top: 0;
  }
}
