// Breakpoints
$sm: 42em;
$md: 50em;
$lg: 68em;
$xl: 80em;

// Layout
$wrapper-sm: rem(1024px);
$wrapper: rem(1400px);
$wrapper-large: rem(1600px);

/* Colors */
$white: #f7f7f7;
$lightGrey: #cdced1;

$accent: deeppink;
$bg-dark: #1d1d26;
$alt: darken($bg-dark, 5%);
$primary: deepPink;
$black: #0e0f0f;
$bg-light: #e1f1f2;
$white: #fcfdff;
$light-grey: #e8eaed;

:root {
  --primary: deepPink;
  --headerBg: #1d1d26;
  --textColor: #0e0f0f;
  --textColorInverse: #fcfdff;
  --bg: #eeeeee;
  --bgTint: #dfeded;
  --bgGrey: #e6e8e8;
  --white: #fcfdff;
  --borderStyle: none;

  --vr: 1rem;

  @media (min-width: $md) {
    --vr: 2.2rem;
  }

  @media (prefers-color-scheme: dark) {
    --bg: #161618;
    --bgTint: #27272c;
    --textColor: #fcfdff;
    --bgGrey: #27272c;
    --textColorInverse: #0e0f0f;
    --borderStyle: 1px solid var(--primary);
  }
}

.th-dark {
  --bg: #161618;
  --bgTint: #27272c;
  --textColor: #fcfdff;
  --bgGrey: #27272c;
  --textColorInverse: #0e0f0f;
  --borderStyle: 1px solid var(--primary);
}

.th-light {
  @media (prefers-color-scheme: dark) {
    --textColor: #0e0f0f;
    --textColorInverse: #fcfdff;
    --bg: #eeeeee;
    --bgTint: #dfeded;
    --bgGrey: #e6e8e8;
    --borderStyle: 1px solid var(--primary);
  }
}

// Typography
$body: 'Source Serif Pro', serif;
$heading: 'Exo', Helvetica, sans-serif;

// Font weights (Exo)
$std: 400;
$bold: 800;
