body {
  background-color: var(--bg);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  font-display: swap;
}

.container {
  width: 100%;
  max-width: $wrapper;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: $md) {
    padding: 0 2rem;
  }

  @media (min-width: $lg) {
    padding: 0 4rem;
  }
}

.container-sm {
  width: 100%;
  max-width: $wrapper-sm;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: $md) {
    padding: 0 2rem;
  }

  @media (min-width: $lg) {
    padding: 0 4rem;
  }
}

.page-content {
  padding: 6rem 0 2rem 0;
  flex-grow: 1;

  @media (min-width: $md) {
    padding: 10rem 0;
  }
}

.b-main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

.b-page-content {
  width: 100%;
  max-width: $wrapper;
  padding-left: rem(20px);
  padding-right: rem(20px);
  padding-top: rem(20px);
  margin: 0 auto rem(40px) auto;

  @media (min-width: $md) {
    padding-top: rem(100px);
    padding-left: rem(40px);
    padding-right: rem(40px);
    margin: 0 auto rem(80px) auto;
  }

  @media (min-width: $lg) {
    padding-top: rem(150px);
    padding-left: rem(80px);
    padding-right: rem(80px);
  }
}

.b-post-content {
  max-width: $wrapper;
  margin: 0 auto;
}

.b-article-body {
  max-width: rem(900px);
  margin: 0 auto;
}
