body {
  background-color: var(--bg);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  max-width: $wrapper;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: $md) {
    padding: 0 2rem;
  }

  @media (min-width: $lg) {
    padding: 0 4rem;
  }

  @media (min-width: 90em) {
    max-width: rem(1800px);
  }
}

.container-sm {
  width: 100%;
  max-width: $wrapper-sm;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: $md) {
    padding: 0 2rem;
  }

  @media (min-width: $lg) {
    padding: 0 4rem;
  }
}

.page-content {
  padding: 6rem 0 2rem 0;
  flex-grow: 1;

  @media (min-width: $md) {
    padding: 10rem 0 6rem 0;
  }
}

.home {
  .page-content {
    padding: 2rem 0;

    @media (min-width: $md) {
      padding: 3rem 0 6rem 0;
    }

    @media (min-width: $lg) {
      padding: 4rem 0 6rem 0;
    }
  }
}

.post-grid {
  @media (min-width: $lg) {
    display: grid;
    grid-template-columns:
      minmax(0, 1fr) [main-start] minmax(0, 58rem)
      [main-end] minmax(rem(150px), 1fr);
    gap: var(--vr) rem(40px);
  }
}

.post-grid__header {
  grid-column: 1 / -1;
}

.post-grid__main,
.post-grid__prev-next {
  grid-column: main;
}

/* Home */

.grid {
  @media (min-width: $lg) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--vr) rem(40px);
  }
}

.grid__tags {
  @media (min-width: $lg) {
    grid-column: 1 / 4;
  }
}

.grid__featured-post {
  margin-top: 1rem;

  @media (min-width: $md) {
    margin-top: 2rem;
  }

  @media (min-width: $lg) {
    grid-column: 4 / -1;
    margin-top: calc(var(--vr) * -6);
  }
}
