body {
  @media (min-width: $md) {
    font-size: 1.2rem;
  }

  @media (min-width: $lg) {
    font-size: 1.4rem;
  }
}

h1,
h2,
h3,
h4,
h5,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5 {
  font-family: $heading;
  font-weight: $bold;
}

p,
ul,
ol {
  line-height: 1.6;
}

a {
  color: var(--primary);
  transition: color 200ms, text-underline-offset 200ms,
    text-decoration-color 200ms;

  @supports (text-decoration-color: transparent) {
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.1em;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    text-underline-offset: 0.4em;
    color: var(--textColor);
    text-decoration-color: var(--primary);
    text-decoration-thickness: 0.1em;
    transition: color 200ms, text-underline-offset 200ms,
      text-decoration-color 200ms;
  }
}

pre {
  overflow: scroll;
  background-color: $bg-dark;
  color: $light-grey;
  padding: 1rem;
}

blockquote {
  padding-left: rem(20px);
  border-left: 8px solid var(--primary);

  @media (min-width: $md) {
    padding-left: rem(40px);
  }
}

code {
  background: linear-gradient(to right, darkorchid, var(--primary));
  color: var(--bg);
  padding: 0.125rem 0.25rem;
  border-radius: 0.2em;
  font-size: 80%;
}

pre code {
  background: transparent;
  padding: 0;
  border-radius: 0;
  color: $white;
}

h1,
.heading-1 {
  font-size: 1.65rem;
  margin-top: 0;
  line-height: 1.2;

  @media (min-width: $md) {
    font-size: 3rem;
  }

  @media (min-width: $lg) {
    font-size: 3.6rem;
  }
}

h2,
.heading-2 {
  font-size: 1.3rem;

  @media (min-width: 42em) {
    font-size: 1.4rem;
  }

  @media (min-width: 50em) {
    font-size: 2.3rem;
  }
}

h3,
.heading-3 {
  font-size: 1.2rem;
  line-height: 1.3;

  @media (min-width: 50em) {
    font-size: 1.8rem;
  }
}

li > h3 {
  margin-top: 1.5rem;
}

figcaption {
  font-weight: 200;
  font-size: rem(16px);
  font-family: $heading;
  margin-top: 0.5rem;
}

small {
  font-size: 0.9rem;
}

.truncate-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
