---
permalink: /tags/
layout: page.njk
pageTitle: 'Search by topic'
---

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag.title | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag.title }} {{ tag.postCount }}</a>
{% endfor %}