---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag|replace(' ', '-') }}/
layout: page.njk
---

<h1>Tagged “{{ tag }}”</h1>

<ol>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{% endfor %}
</ol>
---