{% set categories = [
  {
    title: 'All',
    url: '/',
    length: collections.post|length
  },
  {
    title: 'Articles',
    url: '/articles/',
    length: collections.article|length
  },
  {
    title: 'Quick tips',
    url: '/quick-tips/',
    length: collections['quick tip']|length
  },
  {
    title: 'Notes',
    url: '/notes/',
    length: collections.note|length
  }
] %}

<div class="c-categories">
  <h3 class="c-categories__title heading-4">Categories</h3>
  <ul class="c-categories__list">
  {% for category in categories %}
    <li class="c-categories__item">
      <a href="{{ category.url }}" aria-current="{{ page.url == category.url }}"><span>{{ category.title }}</span> <span class="c-categories__post-count">({{ category.length or collections.article|length }})</span></a>
    </li>
  {% endfor %}
  </ul>
</div>