<button class="c-dark-mode-toggle" type="button" data-behaviour="dark-mode-toggle">
  <span class="visually-hidden" data-text>Switch theme</span>
  <svg class="c-dark-mode-toggle__icon c-dark-mode-toggle__icon--light" xmlns="http://www.w3.org/2000/svg" width="35" height="35" aria-hidden="true" focusable="false">
    <use href="#icon-light"/>
  </svg>
  <svg class="c-dark-mode-toggle__icon c-dark-mode-toggle__icon--dark" xmlns="http://www.w3.org/2000/svg" width="35" height="35" aria-hidden="true" focusable="false">
    <use href="#icon-dark"/>
  </svg>
</button>