<button class="c-dark-mode-toggle" type="button" data-behaviour="dark-mode-toggle" role="switch" aria-checked="false">
  <span class="visually-hidden" data-text>Toggle dark mode</span>
  <svg class="c-dark-mode-toggle__icon c-dark-mode-toggle__icon--light" xmlns="http://www.w3.org/2000/svg" width="35" height="35" aria-hidden="true" focusable="false">
    <use href="/sprite.svg#icon-light"/>
  </svg>
  <svg class="c-dark-mode-toggle__icon c-dark-mode-toggle__icon--dark" xmlns="http://www.w3.org/2000/svg" width="35" height="35" aria-hidden="true" focusable="false">
    <use href="/sprite.svg#icon-dark"/>
  </svg>
</button>