{% for post in collections.post|reverse %}
  {% if pagination.pageNumber == 0 and loop.index == 1 %}
    <article class="c-featured-post">
      <span class="c-featured-post__latest">Latest</span>

      {% if post.data.seriesTitle %}
        <h4 class="c-featured-post__series-title">{{ post.data.seriesTitle }}</h4>
      {% endif %}

      <h3 class="c-featured-post__title">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>
      <time class="c-featured-post__date">{{ post.date.toDateString() }}</time>
      <p class="c-featured-post__excerpt truncate-3">{% excerpt post %}</p>
    </article>
  {% endif %}
{% endfor %}
