{% for post in collections.post|reverse %}
  {% if pagination.pageNumber == 0 and loop.index == 1 %}
    <article class="c-featured-post">
      <span class="c-featured-post__latest">Latest</span>

      {% if post.data.seriesTitle %}
        <h4 class="c-featured-post__series-title">{{ post.data.seriesTitle }}</h4>
      {% endif %}

      <h3 class="c-featured-post__title">
        {% if post.data.externalLink %}
          {% set url = post.data.externalLink %}
        {% else %}
          {% set url = post.url %}
        {% endif %}

        <a href="{{ url }}">{{ post.data.title }}
          {% if post.data.externalLink %}
            <svg class="c-featured-post__external-link-icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 12.2 12.2">
              <path d="M5.7 0v1.5h4L4.5 6.7l1 1.1 5.3-5.2v3.9h1.4V0z"/>
              <path fill="none" d="M3.4 6.7l3-2.9H1.5v7h7V5.9l-3 2.9z"/>
              <path d="M8.5 5.9v4.9h-7v-7h4.9l1.5-1.6H0v10h10V4.4z"/>
            </svg>
          {% endif %}
        </a>
      </h3>
      <time class="c-featured-post__date">{{ post.date.toDateString() }}</time>
      <p class="c-featured-post__excerpt truncate-3">{% excerpt post %}</p>
    </article>
  {% endif %}
{% endfor %}
