<footer class="c-footer">
  <small>&copy;
    <a href="https://michellebarker.co.uk">{{ metadata.author.name }}</a>
    {% year %}
  </small>
  <ul class="c-footer__links">
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/guest-posts">Guest posts</a>
    </li>
    <li>
      {% set iconLink = {
        url: '/rss.xml',
        name: 'icon-rss',
        title: 'RSS feed'
      } %}
      {% include './components/icon-link.njk' %}
    </li>
  </ul>
  
</footer>
