{% if showHomeLink == true %}
  {% set headerClass = 'c-header--bg' %}
{% endif %}

<header class="c-header {{ headerClass }}" data-header="data-header">
  <a class="c-header__title" href="/" aria-label="CSS In Real Life">
    <svg xmlns="http://www.w3.org/2000/svg" width="300" height="40">
      <use href="#logo"/>
    </svg>
  </a>
  <ul class="c-header__social-links">
    {% for item in menudata %}
      <li class="c-header__item">
        <a class="c-header__link c-header__link--social" href="{{ item.url }}">
          <span class="c-header__social-link-text">{{ item.title }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
            <use href="#{{ item.icon }}"/>
          </svg>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div data-menu-container>
    <button class="c-header__menu-btn" hidden="true" data-btn="menu" aria-haspopup="true">Menu</button>
    <div data-menu-wrapper="data-menu-wrapper">
      <nav class="c-header__nav">
        <ul class="c-header__list">
          <li class="c-header__item">
            <a class="c-header__link" href="/" hidden="true" data-home-link="data-home-link">Home</a>
          </li>

          {% for page in collections.page %}
            <li class="c-header__item">
              <a class="c-header__link" href="{{ page.url }}">{{ page.data.pageTitle }}</a>
            </li>
          {% endfor %}

          <li class="c-header__item">
            <a class="c-header__link" href="/rss.xml">RSS</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
