{% if showHomeLink == true %}
  {% set headerClass = 'c-header--bg' %}
{% endif %}

<header class="c-header {{ headerClass }}" data-header="data-header">
  <a class="c-header__title" href="/" aria-label="CSS In Real Life">
    <svg class="c-header__logo" xmlns="http://www.w3.org/2000/svg" width="1127" height="160" aria-hidden="true" focusable="false">
      <use href="/sprite.svg#logo-horizontal"/>
    </svg>
    <svg class="c-header__logo-sm" xmlns="http://www.w3.org/2000/svg" width="35" height="35" aria-hidden="true" focusable="false">
      <use href="/sprite.svg#logo-icon"/>
    </svg>
  </a>

  <div class="c-header__right-content">
    {% include "./dark-mode-toggle.njk" %}

    <ul class="c-header__social-links">
      {% for item in menudata %}
        <li class="c-header__item">
          <a class="c-header__link c-header__link--social" href="{{ item.url }}" rel="me">
              <span class="visually-hidden">{{ item.title }}</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" aria-hidden="true" focusable="false">
                <use href="/sprite.svg#{{ item.icon }}"/>
              </svg>
            </a>
        </li>
      {% endfor %}
    </ul>
    <div data-menu-container>
      <button class="c-header__menu-btn" hidden="true" data-btn="menu" aria-haspopup="true">
        <span data-menu-button-text>Menu</span>
        <span class="c-header__menu-icon">
          <span></span>
        </span>
      </button>
      <div data-menu-wrapper="data-menu-wrapper">
        <nav class="c-header__nav">
          <ul class="c-header__list">
            {% for item in menuitems %}
              <li class="c-header__item">
                {% if item.title == 'Home' %}
                  <a class="c-header__link" href="/" hidden="true" data-home-link="data-home-link">Home</a>
                {% else %}
                  <a class="c-header__link" href="{{ item.url }}">{{ item.title }}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
