<div class="c-hero" data-trigger="header-change">
  <div class="container">
    <svg class="c-hero__svg" xmlns="http://www.w3.org/2000/svg" width="1127" height="161" aria-hidden="true" focusable="false">
      <use href="/sprite.svg#logo-horizontal"/>
    </svg>
    <h1 class="c-hero__heading visually-hidden">{{ metadata.title }}</h1>
    <div class="c-hero__desc">
      <p>{{ metadata.description }}</p>
      <a class="c-hero__about" href="{{ metadata.aboutLink.url }}">{{ metadata.aboutLink.title }}</a>
    </div>
  </div>
</div>