<ol>
  {% for post in pagination.items %}
    <li>
      <h3>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>
      <time>{{ post.data.date }}</time>
    </li>
  {% endfor %}
</ol>
