{% set isQuickTip = false %}
{% for item in post.data.tags %}
  {% if item === 'quick tip' %}
    {% set isQuickTip = true %}
  {% endif %}
{% endfor %}

{% set isNote = post.data.tags[1] === 'note' %}
{% if isNote %}
  {% set componentClass = 'c-post-listing--note' %}
{% elseif isQuickTip %}
  {% set componentClass = 'c-post-listing--quick-tip' %}
{% else %}
  {% set componentClass = '' %}
{% endif %}

<li class="c-post-listing {{ componentClass }}">
  {% if isNote %}
    <span class="c-posts-grid__tag c-posts-grid__tag--note">Quick note</span>
  {% endif %}

  {% if isQuickTip %}
    <span class="c-posts-grid__tag c-posts-grid__tag--quick-tip">Quick tip</span>
  {% endif %}

  {% if post.data.series %}

    <h4 class="c-posts-grid__series-title">{{ post.data.series }}</h4>
  {% endif %}

  <h3 class="c-posts-grid__post-heading heading-2">
    {% if post.data.externalLink %}
      <a href="{{ post.data.externalLink }}" class="c-posts-grid__link c-posts-grid__link--external">{{ post.data.title }}
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 12.2 12.2">
          <path d="M5.7 0v1.5h4L4.5 6.7l1 1.1 5.3-5.2v3.9h1.4V0z"/>
          <path fill="none" d="M3.4 6.7l3-2.9H1.5v7h7V5.9l-3 2.9z"/>
          <path d="M8.5 5.9v4.9h-7v-7h4.9l1.5-1.6H0v10h10V4.4z"/>
        </svg>
      </a>
    {% else %}
      <a href="{{ post.url }}" class="c-posts-grid__link">{{ post.data.title }}</a>
    {% endif %}
  </h3>
  <time class="c-posts-grid__date" datetime="{{ post.date }}">{{ post.date.toDateString() }}</time>
  <p class="c-posts-grid__excerpt truncate-3">{% excerpt post %}</p>

  {% if post.data.source %}
    <p class="c-posts-grid__read-more" aria-hidden>Read it on {{ post.data.source }}</p>
  {% else %}
    <p class="c-posts-grid__read-more" aria-hidden>Read more</p>
  {% endif %}
</li>
