{% if headerStyle == 'simple' %}
  {% set componentClass = 'c-post-header--simple' %}
{% endif %}

{% if tags and headerStyle != 'simple' %}
  <ul class="c-tag-links">
    {% for tag in tags %}
      {% if tag != 'post' %}
        {% if tag === 'note' %}
          <li class="c-tag-links__tag c-tag-links__tag--note">
            <a href="/tags/{{ tag | slug }}">Quick note</a>
          </li>
        {% if tag === 'quick-tip' %}
          <li class="c-tag-links__tag c-tag-links__tag--quick-tip">
            <a href="/tags/{{ tag | slug }}">Quick tip</a>
          </li>
        {% else %}
          <li class="c-tag-links__tag">
            <a href="/tags/{{ tag | slug }}">{{ tag }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}

<h1 class="c-post-header__title">
  {% if series %}
    <span class="c-post-header__series">{{ series }}</span>
  {% endif %}
  {{ title }}
</h1>

{% if headerStyle != 'simple' %}
  <time datetime="{{ page.date }}" class="c-post-header__date">{{ page.date.toDateString() }}</time>
{% endif %}

{% if source and srcUrl %}
  <a href="{{ srcUrl }}" class="c-post-header__source">{{ source }}</a>
{% endif %}
