{% set slug = '/' + page.fileSlug + '/' %}

<nav class="c-prev-next">
  {% for post in collections.post %}
    {% if post.url == slug %}
      {% set prevPost = collections.post[loop.index0 - 1] %}
      {% if prevPost %}
        <div class="c-prev-next__item">
          <span class="c-prev-next__link-desc">← Previous:</span>
          <a class="c-prev-next__link heading-3" href="{{ prevPost.url }}">
            {{ prevPost.data.title }}
          </a>
        </div>
      {% endif %}

      {% set nextPost = collections.post[loop.index0 + 1] %}
      {% if nextPost %}
        <div class="c-prev-next__item">
          <span class="c-prev-next__link-desc">Next: →</span>
          <a class="c-prev-next__link heading-3" href="{{ nextPost.url }}">
            {{ nextPost.data.title }}
          </a>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</nav>
