{% if series %}
  {% set title = series + ': ' + title %}
{% endif %}

{% if title %}
  {% set title = metadata.title + ' | ' + title %}
{% elseif pageTitle %}
  {% set title = metadata.title + ' | ' + pageTitle %}
{% else %}
  {% set title = metadata.title %}
{% endif %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta http-equiv="Cache-Control" content="no-store"/>
  <meta http-equiv="expires" content="0"/>
  <title>{{ title }}</title>
  <meta name="Description" content="{{ metadata.description }}">
  <link rel="stylesheet" href="/styles{{ version }}.css">
  <link
  href="https://fonts.googleapis.com/css2?family=Exo:wght@400;800&family=PT+Serif:ital@0;1&display=swap" rel="stylesheet">

  {# Favicon #}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link
  rel="manifest" href="/site.webmanifest">

  {# Facebook and Twitter card #}
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="{{ metadata.description }}"/>
  <meta property="og:image" content="{{ metadata.url }}{{ metadata.img }}"/>
  <meta property="og:url" content="{{ metadata.url }}"/>
  <meta property="og:site_name" content="{{ title }}"/>
  <meta name="twitter:card" content="summary_large_image"/>
</head>
