<div class="c-sotb-banner {{ class }}">
  <div class="c-sotb-banner__wrapper">
    <img src="/SotB-Logo.svg" alt="State of the Browser">
    <div>
      <p><a href="https://2022.stateofthebrowser.com/">State of the browser</a> is back for the 10th year! Join us in London or online on <time datetime="2022-10-22">22 October 2022</time></p>
      <a class="c-sotb-banner__button" href="https://2022.stateofthebrowser.com/tickets/">Get tickets →</a>
    </div>
  </div>
</div>