{% if home %}
  {% set componentClass = 'c-tag-links--home' %}
{% endif %}

<ul class="c-tag-links {{ componentClass }}">
  {% for tag in tags %}
    {% if tag.title != 'post' %}
      <li class="c-tag-links__tag">
        <a href="/tags/{{ tag.title | slug }}">{{ tag.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
  {% if home %}
    <li class="c-tag-links__tag">
      <a href="/tags">All topics</a>
    </li>
  {% endif %}
</ul>
