{% set likeCount = 0 %}
{% set repostCount = 0 %}
{% set replyCount = 0 %}
{% set url = 'https://css-irl.info' + page.url %}

{% for item in webmentions %}
  {% set liked = item['like-of'] == url %}
  {% set reposted = item['repost-of'] == url %}
  {% set replied = item['in-reply-to'] == url %}

  {% if liked %}
    {% set likeCount = likeCount + 1 %}
  {% endif %}

  {% if reposted %}
    {% set repostCount = repostCount + 1 %}
  {% endif %}

  {% if replied %}
    {% set replyCount = replyCount + 1 %}
  {% endif %}
{% endfor %}

{% if likeCount > 0 or replyCount > 0 or repostCount > 0 %}
  <section class="c-webmentions">
    <div class="c-webmentions__header">
      <h2 class="c-webmentions__heading heading-4">Webmentions for this page</h2>
      <a class="c-webmentions__info-link" href="https://indieweb.org/webmention.io" target="_blank" rel="noopener noreferrer">About webmentions
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" aria-hidden="true" focusable="false">
          <use href="#icon-external-link"/>
        </svg>
      </a>
    </div>
    <div class="c-webmentions__items">
      <p class="c-webmentions__item">
        <svg class="c-hero__svg" xmlns="http://www.w3.org/2000/svg" width="1127" height="161" aria-hidden="true" focusable="false">
          <use href="#icon-heart"/>
        </svg>
        Likes: {{ likeCount }}
      </p>
      <p class="c-webmentions__item">
        <svg class="c-hero__svg" xmlns="http://www.w3.org/2000/svg" width="1127" height="161" aria-hidden="true" focusable="false">
          <use href="#icon-repost"/>
        </svg>
        Reposts: {{ repostCount }}
      </p>
    </div>

    {% if replyCount > 0 %}
      <ul class="c-webmentions__list">
        {% for item in webmentions %}
          {% set replied = item['in-reply-to'] == url %}

          {% if replied and item.content.html|length %}
            <li class="c-webmentions__list-item">
              <blockquote>
                {{ item.content.html | safe }}
                <cite>
                  - <a href="{{ item.author.url }}">{{ item.author.name }}</a>
                </cite>
              </blockquote>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </section>
{% endif %}